* {
	padding-left: 0;
	margin-left: 0;
	padding-right: 0;
	margin-right: 0;
}

#logo_location {
	font-size: 40px;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 0.15em;
	text-align: center;
}

#logo_decoration {
	color: black;
	text-decoration: none;
}

.menu {
	list-style-type: none;
	margin-left: 470px;
	font-family: 'Montserrat', sans-serif;
	overflow: hidden;
}

.menu li {
	display: inline;
	padding-inline-start: 34px;
		/*background-color: #FFFFFF;*/
}

.menu li a {
	display: inline-block;
	color: black;
	text-decoration: none;
	overflow: hidden;
	position: relative;

}

.menu li a:hover {
	color: #848484;
}

.main-page-photos li {
	display: inline;

}

#mainpage_left {
	margin-left: 0px;
}

.badges {
	width: 20px;
}

.icon-menu-left {
	margin: 0;
	padding: 0;
	padding-left: 40px;
	float:left;
}

.icon-menu-right {
	float:right;
	padding-right: 40px;
}

#menu {
	padding-right: 20px;
}

#bucket {
	padding-left: 20px;
}

#heart {
	width: 18px;
	height: 19px;
}

#magnifier {
	width: 18px;
	height: 17px;
}

#mainpage_left {
	padding-left: 40px;
}