* {
	padding-left: 0;
	margin-left: 0;
	padding-right: 0;
	margin-right: 0;
}

#logo_location {
	font-size: 40px;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 0.15em;
	text-align: center;
}

#logo_decoration {
	color: black;
	text-decoration: none;
}

.menu {
	list-style-type: none;
	margin-left: 470px;
	font-family: 'Montserrat', sans-serif;
	overflow: hidden;
}

.menu li {
	display: inline;
	padding-inline-start: 34px;
		/*background-color: #FFFFFF;*/
}

.menu li a {
	display: inline-block;
	color: black;
	text-decoration: none;
	overflow: hidden;
	position: relative;

}

.menu li a:hover {
	color: #848484;
}

.main-page-photos li {
	display: inline;

}

#mainpage_left {
	margin-left: 0px;
}

.badges {
	width: 20px;
}

.icon-menu-left {
	margin: 0;
	padding: 0;
	padding-left: 40px;
	float:left;
}

.icon-menu-right {
	float:right;
	padding-right: 40px;
}

#menu {
	padding-right: 20px;
}

#bucket {
	padding-left: 20px;
}

#heart {
	width: 18px;
	height: 19px;
}

#magnifier {
	width: 18px;
	height: 17px;
}

#mainpage_left {
	padding-left: 40px;
}

#pictures_mainpage {
	/*text-align: center;*/
	position: relative;
	width: 100%;
	height: 650px;
	/*border: 5px solid black;*/

}

#left, #right, #centre {
	width:464px;
	height:580px;
	position: absolute;
}

#right {
	right: 30px;
	top: 30px;
}
#centre {
	right: 480px;
}
#left {
	top:55px;
	left:50px;
}
#right-bottom {
	position: absolute; 
	background-color: #9EA3B0;
	opacity: 0.6;
	width: 464px;
	height: 10px;
	top:620px;
	right:30px;
	
}
#centre-bottom {
	position: absolute;
	background-color: #EDDCD2;
	opacity: 0.6;
	width: 416px;
	height: 15px;
	top: 580px;
	right: 480px;
	z-index: -1;

}
#left-side {
	position: absolute; 
	background-color: #9EA3B0;
	opacity: 0.6;
	width: 10px;
	height: 580px;
	top:55px;
	left:30px;

}
#left-top {
	position: absolute;
	background-color: #EDDCD2;
	opacity: 0.6;
	width: 416px;
	height: 15px;
	top:40px;
	left:80px;

}


/*.footer {
	float: left;
	height: 200px;
	width: 33.3%;
	display: block;
}

.left_footer_content {
	color: black;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	display: block;
	background: #EDDCD2;
	height: 10px;
	text-align: center;
	padding-top: 50px;
}

#contacts {
	padding-bottom: 70px;
}*/

/*.centre_footer_content {
	color: black;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	background: #EDDCD2;
	display: block;
	height: 200px;
	text-align: center;
	padding-top: 50px;
}

.right_footer_content {
	color: black;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	background: #EDDCD2;
	display: block;
	height: 200px;
	text-align: center;
	padding-top: 50px;
}*/

#store {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-weight: 500;
	font-size: 30px;
	font-weight: medium;
	letter-spacing: 0.15em;
	/*position: relative;*/
}

#ceramics {
	width:393px;
	height:515px;
	position: absolute;
	left: 270px;
}

#ceramics-border-right {
	width:14px;
	height:515px;
	background-color: #A5A58D;
	opacity: 0.5;
	/*border: 14px solid black;*/
	position: absolute;
	left: 663px;
}

#ceramics-border-bottom {
	width:407px;
	height:14px;
	background-color: #A5A58D;
	opacity: 0.5;
	/*border: 14px solid black;*/
	position: absolute;
	left: 270px;
	top: 515px;
}

#notebooks {
	width:393px;
	height:515px;
	position: absolute;
	right: 270px;
	top: 100px;
}

#notebooks-border-right {
	width:14px;
	height:515px;
	background-color: #9EA3B0;
	opacity: 0.5;
	/*border: 14px solid black;*/
	position: absolute;
	right: 256px;
	top: 100px;
}

#notebooks-border-bottom {
	width:407px;
	height:14px;
	background-color: #9EA3B0;
	opacity: 0.5;
	/*border: 14px solid black;*/
	position: absolute;
	right: 256px;
	top: 615px;
	/*top: 86px;*/
}

#candles {
	width:393px;
	height:515px;
	position: absolute;
	left: 270px;
	top: 540px;
}

#candles-border-right {
	width:14px;
	height:515px;
	background-color: #9EA3B0;
	opacity: 0.5;
	/*border: 14px solid black;*/
	position: absolute;
	left: 663px;
	top: 540px;
}

#candles-border-bottom {
	width:407px;
	height:14px;
	background-color: #9EA3B0;
	opacity: 0.5;
	/*border: 14px solid black;*/
	position: absolute;
	left: 270px;
	top: 1055px;
	/*top: 86px;*/
}

#planers {
	width:393px;
	height:515px;
	position: absolute;
	right: 270px;
	top: 640px;
}

#planers-border-right {
	width:14px;
	height:515px;
	background-color: #A5A58D;
	opacity: 0.5;
	/*border: 14px solid black;*/
	position: absolute;
	right: 256px;
	top: 640px;
}

#planers-border-bottom {
	width:407px;
	height:14px;
	background-color: #A5A58D;
	opacity: 0.5;
	/*border: 14px solid black;*/
	position: absolute;
	right: 256px;
	top: 1155px;
	/*top: 86px;*/
}

.categories_photo {
	position: relative;
	width: 100%;
	height: 1100px;
	/*border: 5px solid black;*/
}

.footer {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	width: 100%;
	height: 300px;
	position: relative;
	/*border: 5px solid black;*/
}

#footer-background {
	background-color: #EDDCD2;
	opacity: 0.26;
	width: 100%;
	height: 300px;
	
}


#left-footer-content-delivery {
	position: absolute;
	text-decoration: none;
	color: black;
	left: 150px;
	top: 95px;
}

#left-footer-content-exchange {
	position: absolute;
	text-decoration: none;
	color: black;
	left: 150px;
	top: 145px;
}

#left-footer-content-contacts {
	position: absolute;
	text-decoration: none;
	color: black;
	left: 150px;
	top: 200px;
}

#right-footer-content-news {
	position: absolute;
	right: 150px;
	top: 75px;
}

#right-footer-content-email {
	position: absolute;
	right: 350px;
	top: 125px;
	opacity: 0.5;

}

#line {
	/*width: 50px;
	height: 10px;*/
	position: absolute;
	top: 161px;
	right:150px;
	/*color: black;*/
}

#right-footer-content-subscribe {
	position: absolute;
	right: 220px;
	top: 180px;

}

#rectangle {
	width: 150px;
	position: absolute;
	right: 199px;
	top: 187px;
}

#centre-footer-content-follow-us {
	position: absolute;
	top: 75px;
	left: 45%;
}

#centre-footer-content-instagram {
	position: absolute;
	width: 20px;
	top: 120px;
	left: 46%;
}

#list-and-catalog {
	/*position: relative;*/
	width: 100%;
	height: 1000px;

}

#list {
	position: relative;
	width: 15%;
	height: 80%;
	float: left;
	/*border: 5px solid black;*/
	list-style-type: none;
	font-family: 'Montserrat', sans-serif;
}

.lists-title {
	font-size: 13px;
	position: absolute;
	/*left: 50px;*/
	left: 23%;
	color: black;
	text-decoration: none;
	/*top: 60px;
	left: 60px;*/
}

.lists-subtitle {
	font-size: 13px;
	position: absolute;
	/*left: 70px;*/
	left: 33%;
	color: black;
	list-style-type: none;
	text-decoration: none;
}

#l1 {
	position: absolute;
	top: 110px;
	top: 5%;
	/*left: 50px;*/
}

#l2 {
	position: absolute;
	top: 130px;
	top: 8%;
	/*left: 50px;*/
}

#l3 {
	position: absolute;
	top: 150px;
	top: 11%;
	/*left: 50px;*/
}

#l4 {
	position: absolute;
	top: 170px;
	top: 14%;
	/*left: 50px;*/
}

#l5 {
	position: absolute;
	top: 210px;
	top: 20%;
	/*left: 50px;*/
}

#l6 {
	position: absolute;
	top: 230px;
	top: 23%;
	/*left: 50px;*/
}

#l7 {
	position: absolute;
	top: 250px;
	top: 26%;
	/*left: 50px;*/
}

#l8 {
	position: absolute;
	top: 290px;
	top: 32%;
	/*left: 50px;*/
}

#l9 {
	position: absolute;
	top:310px;
	top: 35%;
	/*left: 50px;*/
}

#l10 {
	position: absolute;
	top: 330px;
	top: 38%;
	/*left: 50px;*/
}

#catalog {
	position: relative;
	width: 83%;
	float: right;
	/*border: 5px solid red;*/
	height: 90%;
}

#catalog1 {
	position: absolute;
	width: 270px;
	height: 400px;
	background-color: black;
	top: 4%;
	
}

#catalog2 {
	position: absolute;
	width: 270px;
	height: 400px;
	background-color: black;
	left: 275px;
	left: 24%;
	top: 4%;
	

}

#catalog3 {
	position: absolute;
	width: 270px;
	height: 400px;
	background-color: black;
	left: 550px;
	left: 48%;
	top: 4%;
	
}

#catalog4 {
	position: absolute;
	width: 270px;
	height: 400px;
	background-color: black;
	left: 875px;
	left: 72%;
	top: 4%;
	
}

#catalog5 {
	position: absolute;
	width: 270px;
	height: 400px;
	background-color: black;
	top: 54%;
}

#catalog6 {
	position: absolute;
	width: 270px;
	height: 400px;
	background-color: black;
	left: 24%;
	top: 54%;
}

#catalog7 {
	position: absolute;
	width: 270px;
	height: 400px;
	background-color: black;
	left: 48%;
	top: 54%;
}

#catalog8 {
	position: absolute;
	width: 270px;
	height: 400px;
	background-color: black;
	left: 72%;
	top: 54%;
}

#sort {
	position: absolute;
	left: 80%;
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
}
