.footer {
	width: 100%;
	height: 22vh;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 0.6fr 1fr 1fr;
	grid-template-areas: 
	"delivery-and-payment box12 box13"
	"exchange box22 box23"
	"contacts . box33";
	/*text-align: center;*/
}

.footer a {
	color: black;
	text-decoration: none;
}

.delivery-and-payment {
	grid-area: delivery-and-payment;
	/*background: white;*/
	padding-left: 40%;
	display: block;
	padding-top: 3.5%;
}

.exchange {
	grid-area: exchange;
	/*background:pink;*/
	padding-left: 40%; 
	display: block;
	padding-top: 3%;
}

.contacts {
	grid-area: contacts;
	/*background:violet;*/
	padding-left: 40%;
}

.follow-us {
	grid-area: box12;
	/*background:grey;*/
	/*padding-top: 1%;*/
	text-align: center;
}

.insta-logo {
	grid-area: box22;
	/*background:red;*/
	text-align: center;
}

.news {
	grid-area: box13;
	/*background: blue;*/
	text-align: right;
	padding-right: 40%;
}

.e-mail-entering {
	grid-area: box23;
	/*background:orange;*/
	text-align: right;
	padding-right: 40%;
}

.button-field2 {
	grid-area: box33;
	/*background: green;*/
	text-align: right;
	padding-right: 40%;
}
