{% extends "shop/base.html" %}

{% block details %}
  <div class="list-and-product-description">
	
	<div class="list-of-categories1">
		<nav id="list1">
			<li><a id="l11" class="lists-title1" href="">Канцелярия</a></li>
			<li><a id="l21" class="lists-subtitle1" href="">Тетради</a></li>
			<li><a id="l31" class="lists-subtitle1" href="">Планеры</a></li>
			<li><a id="l41" class="lists-subtitle1" href="">Открытки</a></li>
			<li><a id="l51" class="lists-title1" href="">Ароматы</a></li>
			<li><a id="l61" class="lists-subtitle1" href="">Свечи</a></li>
			<li><a id="l71" class="lists-subtitle1" href="">Диффузоры</a></li>
			<li><a id="l81" class="lists-title1" href="">Керамика</a></li>
			<li><a id="l91" class="lists-subtitle1" href="">Посуда</a></li>
			<li><a id="l101" class="lists-subtitle1" href="">Вазы</a></li>
		</nav>
	</div>
		
	<img class="img-detail" src="{% if product.detail_image %}{{ product.detail_image.url }}{% endif %}" width="80%">

	<div class="product-decription">
	    <p class="descr-name">{{ product.name }}</p>
		<p class="price">{{ product.price }} rub</p>
		
		
		<!-- <p><strong>Количество:</strong> {{ product.stock }}</p> -->
	  	{% if user.is_authenticated %}
		<form action="{% url 'cart:cart_add' product.id %}" method="post">
	    {{ cart_product_form }}
	    {% csrf_token %}
	    	<input class="button2" type="submit" value="Добавить в корзину">
		</form>
		{% else %}
		<form action="/accounts/login" method="get">
	    {{ cart_product_form }}
	    {% csrf_token %}
	    	<input class="button2" type="submit" value="Добавить в корзину">
		</form>
		{% endif %}
		
		
		<p class="descr">{{ product.description }}</p>
	</div>
	</div>
  
{% endblock %}