{% extends "shop/base.html" %}

{% block catalog %}
<div class="list-and-catalog1">
	<div class="list-of-categories">
		<nav id="list">
			<li><a id="l1" class="lists-title" href="">Канцелярия</a></li>
			<li><a id="l2" class="lists-subtitle" href="">Тетради</a></li>
			<li><a id="l3" class="lists-subtitle" href="">Планеры</a></li>
			<li><a id="l4" class="lists-subtitle" href="">Открытки</a></li>
			<li><a id="l5" class="lists-title" href="">Ароматы</a></li>
			<li><a id="l6" class="lists-subtitle" href="">Свечи</a></li>
			<li><a id="l7" class="lists-subtitle" href="">Диффузоры</a></li>
			<li><a id="l8" class="lists-title" href="">Керамика</a></li>
			<li><a id="l9" class="lists-subtitle" href="">Посуда</a></li>
			<li><a id="l10" class="lists-subtitle" href="">Вазы</a></li>
		</nav>
	</div>
    <div class="products-block">
        {% for product in products %}
        	<div class="product-block">
        		<a class="product-list" href="{{ product.get_absolute_url }}">
        		<div class="poduct-img"><img src="{% if product.main_image %}{{ product.main_image.url }}{% endif %}" height="400px" width="100%"></div>
                <p>{{ product.name }}</p>
                <p class="price">{{ product.price }} rub</p>
                </a>
                </br>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
