{% extends "shop/base.html" %}
{% load static %}


{% block content %}
    <h1>Ваша корзина</h1>
	
    <table class="cart">
        <thead>
        <tr>
            <th width="200">Товар</th>
            <th width="200">Количество</th>
            <th width="200">Убрать из корзины</th>
            <th width="200">Цена за штуку</th>
            <th width="200">Итоговая цена</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with product=item.product %}
                <tr>
                    <td width="200">{{ product.name }}</td>
                    <td width="200">{{ item.quantity }}</td>
                    <td width="200"><a href="{% url "cart:cart_remove" product.id%}">Удалить</a></td>
                    <td class="num",  width="200">{{ item.price }} руб</td>
                    <td class="num",  width="200">{{ item.total_price }} руб</td>
                </tr>
            {% endwith %}
        {% endfor %}
        <tr class="total">
		
            <td>Итого</td>
            <td colspan="3"></td>
            <td class="num">{{ cart.get_total_price }} руб</td>
        </tr>
        </tbody>
    </table>
	
	<table>
		<tr>
            <th width="180"><a href="{% url "shop:product_list" %}" class="button light">Продолжить покупки</a></th>
            <th width="180"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&list=PLahKLy8pQdCM0SiXNn3EfGIXX19QGzUG3&ab_channel=RickAstleyVEVO" class="button">Оплатить</a></th>
        </tr>
	</table>
{% endblock %}